@model Domian.Entidades.Libro

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Libro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body class="container mt-5" style="max-width: 500px;">

    <div class="card shadow">
        <div class="card-header bg-warning">
            <h4>Editar Libro</h4>
        </div>
        <div class="card-body">
            <form action="/Libros/Edit" method="post">

                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="mb-3">
                    <label>Título</label>
                    <input type="text" name="Titulo" value="@Model.Titulo" id="txtTituloEditar" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>Autor</label>
                    <input type="text" name="Autor" value="@Model.Autor" id="txtAutorEditar" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>ISBN</label>
                    <input type="text" name="Isbn" value="@Model.Isbn" id="txtIsbnEditar" class="form-control" />
                </div>

                <button type="submit" id="btnGuardarEdicion" class="btn btn-warning w-100">Guardar Cambios</button>
                <a href="/Libros/Index" class="btn btn-secondary w-100 mt-2">Cancelar</a>
            </form>
        </div>
    </div>

</body>
</html>